include ../god-jammit/search_head.html
h1(id='show_result') Search results for "#{result}"
include result.pug
each song in songs
    +result(song.name, song.owner, song.collaborators, song.song_id)
include ../god-jammit/search_foot.html
